
.small-input {
  width: 35px;
  height: 35px;
  font-size: 14px;
  text-align: center;
  margin: 0 4px;
  font-size: 15px;
  border-radius: 50%;
  padding: 8px;
  border: none;
  outline: none;
  color: var(--ion-color-dark);
  background-color: var(--ion-color-secondary);
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
